*.pyc
*.*~
*.py~
*~
*.o
*.cmd
*.class
*.apk
*.ap_
*.swp
*.~ml
*.dia~
*.dia.autosave
*.~ml
.project
.cproject
.classpath
bin/
obj/
gen/
libs/
proguard/
.settings/
.externalToolBuilders/
ic_launcher-web.png
proguard-project.txt
local.properties
lint.xml
